doctype html
html
	head
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
		link(type="text/css", rel="stylesheet", href="css/materialize.min.css", media="screen,projection")
		link(type="text/css", rel="stylesheet", href="css/style.css")
		//- Let browser know website is optimized for mobile
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title Sentiment Analysis App

	body
		nav
			div(class="nav-wrapper teal darken-2")
				div(class="container")
					a(href="/" class="brand-logo") Sentiment Analyzr
					ul(id="nav-mobile" class="right hide-on-med-and-down")
						li: a(href="/") Home
						li: a(href="/add") Add
						li: a(href="/twitter") Twitter

		div(class="container container-padding")
			div(class="row")
				div(class="row")
					div(class="input-field col s12" method="post")
						input(type="text" placeholder="Enter your sentence here..." class="validate" id="query-sentence")
				div(class="row")
					div(class="input-field col s12")
						button(class="btn waves-effect waves-light" id="classify-button") Classify
							i(class="material-icons right") send

		div(class="container")
			div(class="row col s12", id="output")

	script(src="js/jquery.min.js")
	script(src="js/materialize.min.js")
	script.
		$('#classify-button').on('click', () => {
			if ( $('#query-sentence').val() ) {
				// Create object structure out of input
				let input = {	text:	$('#query-sentence').val() }
				$.post('/classify', input, (data)=> {
					$('#output').empty()
					$('#output').append('<div class="card teal darken-2"><div class="card-content white-text"><span class="card-title">'+data.sentiment+'</span><p>You sentence "'+data.text+'" was classified as '+data.sentiment+'</p></div><div class="card-action"><a href="/add" class="lime-text text-lighten-5">Was your sentence classified wrong? Please add the correct classification.</a></div></div>')
				})
			} else {
				Materialize.toast('Please fill in the a sentence for classiciation!', 3000, 'rounded')
			}
		})