.container-padding {
	padding-top: 25px;
}

.container-pad-bottom {
	padding-bottom: 50px;
	text-align: center;
}

/*#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 45%;
  left: 15%;
}*/

.sentiment-radio {
	padding-right: 35px;
}

.btn-wide {
	width: 50%;
}
footer, .push {
	height: 95px; /* '.push' must be the same height as 'footer' */
}

a:hover {
	text-decoration: underline;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:90px;
   width:100%;
   background:#999;
}